/* this css file will only style the homepage of our site */

#my-portrait {
  max-width: 350px;
  float: right;
  margin-right: 50px;
  margin-left: 10px;
}

#content {
  background-color: rgb(161, 186, 215);
  border: solid 5px black;
}

#labs {
  background-color: rgb(161, 186, 215);
  border: solid 5px black;
}

#links {
  color:black;
  font-weight: bold;
  font-size:larger;
}