/* this css file will only style the homepage of our site */

#my-portrait {
  max-width: 250px;
  margin-left: 20px;
}

img {
  overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: 50px;
    overflow-y: 50px;
}

#content {
  background-color: rgb(161, 186, 215);
  border: solid 5px black;
}

#labs {
  background-color: rgb(161, 186, 215);
  border: solid 5px black;
}

#links {
  color:black;
  font-weight: bold;
  font-size:larger;
}