body {
    background-color: rgb(51, 152, 96);
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    letter-spacing: 10px;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

#content {
    border: black solid 5px;
    padding: 15px;
    /* background-color: rgb(110, 123, 224); */
}

#minor-section {
    padding: 5px;
    margin: 5px;
    border-bottom: black solid 2px;
}

#input {
    padding: 10px;
    margin: 5px;
}