body {
    background-color: #ff98e5;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    letter-spacing: 10px;
    text-align: center;
    font-size: 50px;
    color: rgb(62, 36, 40);
    margin-top: 15px;
}

h2, p {
    color: white;
}

#content {
    border: black solid 2px;
    padding: 5px;
    background-color: #ea3dd9;
}

#minor-section {
    padding: 5px;
    margin: 5px;
    border-bottom: black solid 2px;
}

#section {
    padding: 5px;
    margin: 5px;
}
