/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

/* lab.css for lab3 */

body {
  background-color: azure;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 3px;
  text-align: center;
  font-style: oblique;
}

h3 {
  color: darkgreen;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}

/* classes */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px black;
    background-color: lightblue;
}

/* ids */
#notfound {
  max-width: 300px;
  border: solid 5px black; 
  
}

#results {
  max-width: 1000px;
  border: solid 5px white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  display: block;
  font-size: xx-large;
  text-align: center;
}

