body {
    background-color: #810808;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    letter-spacing: 10px;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}

h2, p {
    color: white;
}

#content {
    border: black solid 2px;
    padding: 5px;
    background-color: #ff7a7a;
}

#houseResults {
    border: black solid 3px;
    padding: 10px;
    background-color: #884e4e;
    color: white;
}

#minor-section {
    padding: 5px;
    margin: 5px;
    border-bottom: black solid 2px;
}

#section {
    padding: 5px;
    margin: 5px;
}